#candidates-grid .column-interior {
    background: #d1d1d1;
    border-radius: .4rem;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    letter-spacing: .1rem;
    line-height: 3rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

#candidates-grid .column-interior:hover {
    cursor: pointer;
}

.invisible {
    display: none;
}


.no-overflow {
    display: inline-block;
    word-wrap: break-word;
}
